---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
	
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
		
      </time>
      {% include share-buttons.html %}
      {% include reading-time.html %}
      {% include page-author.html %}
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
	  {% include post-readingtime.erb %}
	  </p>
  </header>
  
  <!-- <div class="page-sidebar">
        {% include page-author.html %}
        {% include page-categories.html %}
        {% include page-tags.html %}
      </div> -->

  <div class="post-content e-content" itemprop="articleBody">
    {{ content}}
  </div>

  <a href="{{ page.previous.url }}">
    <div>Previous Post</div>
  </a>
  
  <a href="{{ page.next.url }}">
    <div>Newer Post</div>
  </a>

  <!-- {% if page.next_in_category != nil %}
	<a href="{{page.next_in_category.url}}" class="next-link">Older Post</a>
{% endif %}
{% if page.previous_in_category != nil %}
	<a href="{{page.previous_in_category.url}}" class="previous-link">Newer Post</a>
{% endif %}
   -->
		{% if page.share %}
          {% include share-buttons.html %}
        {% endif %}

        {% if site.disqus.shortname %}
          {% include disqus-comments.html %}
        {% endif %}

        {% include page-pagination.html %}

  

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
